a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
img {
  max-width: 100%;
}
.header,
.my-header {
  width: 15rem;
  height: 2.2rem;
  background: #c75856;
}
.header .logo,
.my-header .logo {
  width: 3.52rem;
  height: 1.6rem;
  float: left;
  margin: 0.16rem 0 0.24rem 0.6rem;
}
.header .menu-btn,
.my-header .menu-btn {
  float: right;
}
.header .menu-btn .menu-button,
.my-header .menu-btn .menu-button {
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../images/menu_btn.png) no-repeat;
  background-size: cover;
  margin: 0.6rem;
}
.header::after,
.my-header {
  content: '';
  display: block;
  clear: both;
}
.nav {
  width: 15rem;
  height: 2rem;
  line-height: 2rem;
}
.nav ul li {
  float: left;
  margin: 0 0.36rem;
  font-size: 0.56rem;
}
.nav ul li a {
  color: #c75856;
}
.nav ul li:nth-of-type(1) {
  margin-left: 0.72rem;
}
.nav ul {
  overflow: hidden;
  width: 15rem;
}
.nav ul .active {
  background: url(../images/bottom_border.png) no-repeat bottom center;
}
.time-select {
  width: 15rem;
  height: 0.8rem;
  margin: 0.8rem 0;
}
.time-select .week,
.time-select .month {
  width: 1.84rem;
  height: 0.8rem;
  line-height: 0.8rem;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 0.2rem;
  font-size: 0.4rem;
  color: #999999;
  margin: 0 0.2rem;
}
.time-select span {
  font-size: 0.36rem;
}
.time-select .s-time {
  width: 3.2rem;
  height: 0.6rem;
  border: 1px solid #ccc;
  font-size: 0.2rem;
}
.activity-list,
.pro-list,
.my-activity-list,
.my-comment-list {
  width: 15rem;
  padding: 0 0.64rem 0 0.64rem;
  box-sizing: border-box;
}
.activity-list ul li,
.pro-list ul li,
.my-activity-list ul li,
.my-comment-list ul li {
  margin-bottom: 1.28rem;
}
.activity-list .img,
.pro-list .img,
.my-activity-list .img,
.my-comment-list .img {
  width: 4rem;
  height: 3.04rem;
  float: left;
}
.activity-list .img img,
.pro-list .img img,
.my-activity-list .img img,
.my-comment-list .img img {
  width: 4rem;
  height: 3.04rem;
}
.activity-list ul li::after,
.pro-list ul li::after,
.my-activity-list ul li::after,
.my-comment-list ul li::after {
  content: '';
  display: block;
  clear: both;
}
.activity-list .activity-item,
.pro-list .activity-item,
.my-activity-list .activity-item,
.my-comment-list .activity-item {
  width: 9.4rem;
  height: 3.08rem;
  overflow: hidden;
  float: right;
}
.activity-list .activity-item h2,
.pro-list .activity-item h2,
.my-activity-list .activity-item h2,
.my-comment-list .activity-item h2 {
  font-size: 0.64rem;
  color: #222222;
  line-height: 1.04rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 8.96rem;
}
.activity-list .activity-item .time-ddress,
.pro-list .activity-item .time-ddress,
.my-activity-list .activity-item .time-ddress,
.my-comment-list .activity-item .time-ddress {
  margin: 0.22rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 8.96rem;
}
.activity-list .activity-item time,
.pro-list .activity-item time,
.my-activity-list .activity-item time,
.my-comment-list .activity-item time,
.activity-list .activity-item .address,
.pro-list .activity-item .address,
.my-activity-list .activity-item .address,
.my-comment-list .activity-item .address {
  font-size: 0.4rem;
  color: #999999;
}
.activity-list .activity-item .icon-xian,
.pro-list .activity-item .icon-xian,
.my-activity-list .activity-item .icon-xian,
.my-comment-list .activity-item .icon-xian {
  color: #ccc;
}
.activity-list .activity-item .address,
.pro-list .activity-item .address,
.my-activity-list .activity-item .address,
.my-comment-list .activity-item .address {
  display: inline-block;
  font-style: normal;
}
.activity-list .activity-item p,
.pro-list .activity-item p,
.my-activity-list .activity-item p,
.my-comment-list .activity-item p {
  font-size: 0.4rem;
}
.activity-list .activity-item p .remain-num,
.pro-list .activity-item p .remain-num,
.my-activity-list .activity-item p .remain-num,
.my-comment-list .activity-item p .remain-num {
  color: #e9414d;
}
.activity-list .activity-item p .icon,
.pro-list .activity-item p .icon,
.my-activity-list .activity-item p .icon,
.my-comment-list .activity-item p .icon {
  display: inline-block;
  margin-right: 0.12rem;
  width: 12px;
  height: 12px;
  background: url(../images/time.png) no-repeat;
  vertical-align: middle;
}
.activity-list .pro-item,
.pro-list .pro-item,
.my-activity-list .pro-item,
.my-comment-list .pro-item {
  width: 9.4rem;
  height: 3.04rem;
  overflow: hidden;
  float: right;
}
.activity-list .pro-item h2,
.pro-list .pro-item h2,
.my-activity-list .pro-item h2,
.my-comment-list .pro-item h2 {
  font-size: 0.64rem;
  color: #222222;
  height: 2.08rem;
  line-height: 1.04rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.activity-list .pro-item .time-ddress,
.pro-list .pro-item .time-ddress,
.my-activity-list .pro-item .time-ddress,
.my-comment-list .pro-item .time-ddress {
  font-size: 0.4rem;
  color: #888888;
  line-height: 1.04rem;
}
.activity-list .pro-item .time-ddress .pass,
.pro-list .pro-item .time-ddress .pass,
.my-activity-list .pro-item .time-ddress .pass,
.my-comment-list .pro-item .time-ddress .pass {
  color: #31de31;
}
.activity-list .pro-item .time-ddress .why,
.pro-list .pro-item .time-ddress .why,
.my-activity-list .pro-item .time-ddress .why,
.my-comment-list .pro-item .time-ddress .why {
  color: #ed6c75;
  margin-left: 0.48rem;
}
.activity-list .pro-item .time-ddress .wait-pass,
.pro-list .pro-item .time-ddress .wait-pass,
.my-activity-list .pro-item .time-ddress .wait-pass,
.my-comment-list .pro-item .time-ddress .wait-pass {
  color: #ff7703;
}
.pro-list {
  margin-top: 0.6rem;
}
.my-activity-list {
  margin-top: 1.2rem;
}
.person-header {
  width: 15rem;
  height: 2rem;
  background: #fff;
}
.person-header .logo {
  width: 3.52rem;
  height: 1.6rem;
  float: left;
  margin: 0.16rem 0 0.24rem 0.6rem;
}
.person-header .menu-btn {
  float: right;
}
.person-header .menu-btn .menu-button {
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  background: url(../images/menu-black.png) no-repeat;
  margin: 0.6rem;
}
.banner {
  width: 15rem;
  height: 6.6rem;
  background-image: linear-gradient(90deg, #e73946 0%, #ff606b 100%);
  overflow: hidden;
  margin-bottom: 0.4rem;
}
.banner .photo {
  width: 3rem;
  height: 3rem;
  background: url(../images/photo.png) no-repeat;
  background-size: cover;
  margin: 1.2rem auto 0 auto;
}
.banner .nickname {
  font-size: 0.64rem;
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
}
.person_main {
  box-sizing: border-box;
  padding: 0 0.6rem;
}
.person_main p {
  padding: 0 0.4rem;
  box-sizing: border-box;
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eee;
  position: relative;
}
.person_main p a {
  font-size: 0.6rem;
  color: #333333;
  font-family: PingFangSC-Regular;
  display: block;
  width: 100%;
  height: 100%;
}
.person_main p span {
  display: inline-block;
  width: 0.2rem;
  height: 0.4rem;
  background: url(../images/modify-shape.png) no-repeat;
  position: absolute;
  top: 1.04rem;
  right: 0.4rem;
}
.person_main .sign-out {
  margin-top: 2.4rem;
}
.person_main .sign-out button {
  border: 1px solid #eb5560;
  border-radius: 0.32rem;
  width: 3.88rem;
  height: 1.4rem;
  color: #ff606b;
  background: #fff;
  margin: 0 auto;
  display: block;
}
.my-header {
  width: 15rem;
  height: 2rem;
  background: #ed6c75;
}
.my-header .back {
  margin-top: 0.4rem;
  margin-left: 0.8rem;
  height: 1.2rem;
}
.my-header .my-title {
  width: 6.4rem;
  float: left;
}
.my-header .my-title h2 {
  color: #fff;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.64rem;
}
.my-comment-list .comment-box {
  margin-top: 1.6rem;
}
.my-comment-list .comment-box p {
  text-align: left;
  font-size: 0.64rem;
  color: #555555;
  line-height: 0.96rem;
}
.my-comment-list .comment-box time {
  display: inline-block;
  margin-top: 0.4rem;
  font-size: 0.52rem;
  color: #999999;
  margin-right: 0.64rem;
}
.my-comment-list .comment-artacle {
  margin-top: 0.4rem;
  padding: 0.4rem 1.2rem 0.4rem 0.4rem;
  background: #efefef;
  box-sizing: border-box;
}
.my-comment-list .comment-artacle .artacle-title {
  width: 9.44rem;
  height: 1.44rem;
}
.my-comment-list .comment-artacle .artacle-title p {
  font-size: 0.48rem;
  color: #555555;
}
.null-box {
  width: 12rem;
  height: 12rem;
  margin: 6.16rem auto;
  background: url(../images/null.png) no-repeat top center;
  overflow: hidden;
}
.null-box p {
  font-family: PingFangSC-Regular;
  font-size: 0.64rem;
  color: #999999;
  margin-top: 122px;
}
.null-box button {
  display: block;
  border: 1px solid #d85357;
  border-radius: 0.2rem;
  width: 6.8rem;
  height: 2rem;
  margin: 0 auto;
  color: #d85357;
  margin-top: 2rem;
  background: white;
}
.null-box button a {
  font-size: 0.72rem;
  color: #d85357;
  font-weight: bold;
  display: inline-block;
  width: 6.8rem;
  height: 2rem;
  line-height: 2rem;
}
.modify-main {
  padding: 0 0.6rem;
}
.modify-main .modify {
  height: 2rem;
  line-height: 2rem;
  border-bottom: 1px solid #eeeeee;
  padding-left: 0.48rem;
  font-size: 0.6rem;
  color: #333;
  position: relative;
}
.modify-main .modify .rl {
  display: block;
  width: 0.2rem;
  height: 0.4rem;
  background: url(../images/modify-shape.png) no-repeat;
  position: absolute;
  right: 0;
  top: 1.04rem;
}
.modify-main .modify .modify-val {
  position: absolute;
  left: 3.76rem;
  top: 0.64rem;
  font-size: 0.6rem;
  color: #333;
}
.modify-main .modify .modify-phone {
  position: absolute;
  left: 3.76rem;
  top: 0;
  color: #9E9E9E;
}
.modify-main .modify a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.modifyPwd-main {
  padding: 0 0.6rem;
}
.modifyPwd-main input::-webkit-input-placeholder {
  color: #999999;
}
.modifyPwd-main input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}
.modifyPwd-main input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}
.modifyPwd-main input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}
.modifyPwd-main input {
  width: 13.8rem;
  height: 1.8rem;
  background: #f4f4f4;
  border: 1px solid #dcdcdc;
  border-radius: 0.2rem;
  margin-top: 0.6rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
}
.modifyPwd-main p {
  margin-top: 1.2rem;
  font-size: 0.64rem;
  color: #999999;
}
.modifyPwd-main p button {
  width: 13.8rem;
  height: 1.8rem;
  background: #d87b7a;
  color: #fff;
  border-radius: 4rem;
}
.modifyPhone-main {
  padding: 0.8rem 0.6rem;
  font-size: 0.52rem;
  color: #999999;
}
.modifyPhone-main button {
  width: 13.8rem;
  height: 1.8rem;
  background: #d87b7a;
  color: #fff;
  border-radius: 4rem;
  margin-top: 1.2rem;
}
.modifyPhone-main .inp {
  width: 13.8rem;
  height: 2rem;
  border-bottom: 1px solid #eeeeee;
}
.modifyPhone-main .inp input {
  width: 10.64rem;
  height: 2rem;
  margin-left: 1.6rem;
}
.modifyPhone-main input::-webkit-input-placeholder {
  color: #999999;
}
.modifyPhone-main .rek {
  margin-bottom: 0.6rem;
}
.modifyPhone-main .remark {
  text-align: center;
}
.detail-header {
  width: 15rem;
  height: 2rem;
  padding-left: 0.6rem;
  padding-top: 0.2rem;
  background: #fff;
  box-sizing: border-box;
}
.detail-header span {
  display: inline-block;
  width: 0px;
  height: 1.44rem;
  border: 1px solid #e8e8e8;
  margin: 0 0.56rem;
  vertical-align: middle;
}
.detail-header strong {
  color: #e23f3f;
}
.detail-main {
  width: 15rem;
  padding: 0.6rem;
  box-sizing: border-box;
}
.detail-main .abstract {
  width: 13.8rem;
  height: 3.8rem;
  overflow: hidden;
  margin-bottom: 0.6rem;
}
.detail-main .abstract .abs-left {
  width: 5.52rem;
  height: 3.8rem;
  float: left;
  overflow: hidden;
}
.detail-main .abstract .abs-left img {
  width: 5.52rem;
  height: 3.8rem;
}
.detail-main .abstract .abs-right {
  width: 7.84rem;
  height: 3.8rem;
  float: right;
}
.detail-main .abstract .abs-right h2 {
  font-size: 0.68rem;
  color: #333333;
  height: 1.92rem;
  line-height: 0.96rem;
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.detail-main .abstract .abs-right time {
  font-size: 0.4rem;
  color: #888888;
  margin-top: 1rem;
  display: inline-block;
}
.detail-main .abstract .abs-right p {
  margin-top: 0.56rem;
}
.detail-main .abstract::after {
  content: '';
  display: block;
  clear: both;
}
.detail-main .when {
  overflow: hidden;
  color: #666666;
  font-size: 0.48rem;
}
.detail-main .when p {
  margin-top: 0.8rem;
}
.detail-main .Introduction {
  position: relative;
  margin-top: 1.48rem;
}
.detail-main .Introduction h2 {
  font-size: 0.6rem;
  color: #333333;
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.detail-main .Introduction .article {
  max-height: 18.4rem;
  overflow: hidden;
}
.detail-main .Introduction .article img {
  max-width: 100%;
  margin: 0.4rem 0;
}
.detail-main .Introduction .article p {
  font-size: 0.6rem;
  color: #333333;
  line-height: 1.12rem;
  text-indent: 2em;
}
.detail-main .Introduction .more {
  background: -webkit-linear-gradient(top, rgba(240, 240, 240, 0.7), #ffffff);
  background: -o-linear-gradient(top, rgba(240, 240, 240, 0.7), #ffffff);
  background: -moz-linear-gradient(top, rgba(240, 240, 240, 0.7), #ffffff);
  background: linear-gradient(top, rgba(240, 240, 240, 0.7), #ffffff);
  width: 13.8rem;
  background-size: cover;
  height: 2.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.detail-main .Introduction .more p {
  text-align: center;
  color: #999999;
  height: 2.4rem;
  line-height: 2.4rem;
}
.detail-main .sign {
  display: none;
  margin: 1.6rem 0;
}
.detail-main .sign .alertMess {
  color: red;
  text-align: center;
  display: none;
}
.detail-main .sign h2 {
  font-size: 0.6rem;
  font-weight: bold;
  margin-left: 0.4rem;
}
.detail-main .sign p {
  margin: 0.4rem 0;
  position: relative;
}
.detail-main .sign p input {
  width: 13.8rem;
  height: 1.2rem;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  line-height: 1.2rem;
  font-size: 0.48rem;
  color: #666666;
  padding-left: 1.8rem;
  box-sizing: border-box;
}
.detail-main .sign p span {
  display: inline-block;
  width: 0.96rem;
  height: 1.2rem;
  background: url(../images/details-name.png) no-repeat left center;
  text-align: right;
  line-height: 1.2rem;
  position: absolute;
  color: #d8d8d8;
  left: 0.48rem;
  top: 0;
  z-index: 99;
}
.detail-main .sign p textarea {
  border: 1px solid #eaeaea;
  width: 13.8rem;
  height: 4.2rem;
  padding-left: 0.6rem;
  box-sizing: border-box;
}
.detail-main .sign p em {
  display: inline-block;
  position: absolute;
  color: #d8d8d8;
  left: 0.48rem;
  top: 0;
  z-index: 99;
}
.detail-main .sign .area .area-title {
  margin: 0.4rem 0;
  width: 13.8rem;
  height: 1.2rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding-left: 0.48rem;
  box-sizing: border-box;
  font-size: 0.48rem;
  color: #666666;
  position: relative;
}
.detail-main .sign .area .area-title .icon-down {
  display: inline-block;
  width: 0.36rem;
  height: 0.28rem;
  position: absolute;
  left: 13.04rem;
  top: 0.48rem;
  background: url(../images/icon-down.png) no-repeat center center;
}
.detail-main .sign .area .area-title .select-btn {
  display: inline-block;
  height: 1.2rem;
  line-height: 1.2rem;
  vertical-align: middle;
}
.detail-main .sign .area .area-title .icon-area {
  display: inline-block;
  width: 0.96rem;
  height: 1.2rem;
  background: url(../images/icon-area.png) no-repeat left center;
  vertical-align: middle;
  text-align: right;
  line-height: 1.2rem;
  color: #d8d8d8;
  margin-right: 0.2rem;
}
.detail-main .sign .area .area-list ul {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
.detail-main .sign .area .area-list ul li {
  width: 13.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background: #fff;
  padding-left: 0.6rem;
  border-bottom: 1px solid #eaeaea;
}
.detail-main .sign .down-up {
  margin-bottom: 0.8rem;
  width: 14rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.detail-main .sign .down-up .up,
.detail-main .sign .down-up .down {
  width: 6.6rem;
  height: 3rem;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-size: 0.4rem;
  text-align: center;
  line-height: 3rem;
  box-sizing: border-box;
  background: url(../images/file-up.png) no-repeat 50% 30%;
  position: relative;
}
.detail-main .sign .down-up .up #files,
.detail-main .sign .down-up .down #files {
  position: absolute;
  top: 1.4rem;
  left: 0.8rem;
  width: 3rem;
  opacity: 0;
}
.detail-main .sign .submit {
  width: 6.4rem;
  height: 1.4rem;
  background: #ed6c75;
  border-radius: 4rem;
  margin: 0 auto;
  display: block;
  color: #fff;
}
.women-menu {
  padding: 0 0.8rem;
  position: absolute;
  top: 2rem;
  left: 0;
  background: #fff;
  width: 15rem;
  box-sizing: border-box;
  display: none;
}
.women-menu .menu-item::after {
  content: '';
  display: block;
  clear: both;
}
.women-menu .menu-item {
  border-bottom: 1px solid #eeeeee;
}
.women-menu .menu-item .father-nav {
  padding: 0 0.4rem;
  font-weight: bold;
  width: 2.72rem;
  line-height: 2.56rem;
  float: left;
}
.women-menu .menu-item .child-nav {
  width: 9.08rem;
  line-height: 2.56rem;
  float: right;
}
.women-menu .menu-item .child-nav ul li {
  float: left;
  margin: 0 0.4rem;
}
.women-menu .menu-item .child-nav.sibling {
  line-height: 1.76rem;
}
.women-menu .menu-item .child-nav.sibling ul li {
  margin: 0 0.64rem;
}
